<div class="alert alert-success" *ngIf='message'>{{message}}</div>
<div class="container">

  <table class="table">
    <thead>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Setor</th>
      <th>Preço</th>
      <th>Marca</th>
      <th>Coleção</th>

    </thead>


    <tbody>
      <tr *ngFor="let produto of produtos">
        <td>{{produto.nome}}</td>
        <td>{{produto.descricao}}</td>
        <td>{{produto.setor}}</td>
        <td>{{produto.preco  | currency:'BRL':'symbol':'0.1-2':'pt'  }}</td>
        <td>{{produto.marca.nome}}</td>
        <td>{{produto.colecao}}</td>

        <td><button (click)="updateProduto(produto.id)" class="btn btn-success">Editar</button></td>
        <td><button (click)="deleteProduto(produto.id)" class="btn btn-warning">Excluir</button></td>

      </tr>
    </tbody>
  </table>
  <div class="row">
    <button (click)="addProduto()" class="btn btn-success">Adicionar</button>
  </div>
</div>