<div class="alert alert-success" *ngIf='message'>{{message}}</div>
<div class="container">

  <table class="table">
    <thead>
      <th>Nome</th>
      <th>Descricação</th>
    </thead>

    <tbody>
      <tr *ngFor="let departamento of departamentos">
        <td>{{departamento.nome}}</td>
        <td>{{departamento.descricao}}</td>


        <td><button (click)="updateDepartamento(departamento.id)" class="btn btn-success">Editar</button></td>
        <td><button (click)="deleteDepartamento(departamento.id)" class="btn btn-warning">Excluir</button></td>

      </tr>
    </tbody>
  </table>
  <div class="row">
    <button (click)="addDepartamento()" class="btn btn-success">Adicionar</button>
  </div>


</div>